@media screen and (min-width: 600px) {
    #menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 0;
    }

    main {
        max-width: 760px;
    }

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    figure {
        width: 180px;
    }

    figure img {
        width: 180px;
    }
}